.on-conect{
    width: 100%;
    text-align: center;
    color: #1e7e34;
}
.close-conect{
    width: 100%;
    text-align: center;
    color: darkred;
}

.load-message-page{
    width: 100%;
    text-align: center;
    color: #2a2e34;
}

[v-cloak] { display: none; }

.header-highlight {
    color: #ff4954;
}

.info {
    padding: 1.5rem;
}

#videos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

#videos video {
    flex: 1 1 50%;
    padding: 0;
    min-width: 0;
}