.on-conect{
    width: 100%;
    text-align: center;
    color: #1e7e34;
}
.close-conect{
    width: 100%;
    text-align: center;
    color: darkred;
}

.load-message-page{
    width: 100%;
    text-align: center;
    color: #2a2e34;
}