<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/acountlayout"
>
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">Khóa tài khoản</title>
</head>
<div class="container" layout:fragment="acount-content">
    <div class="row align-items-center justify-content-center min-vh-100 gx-0">
        <div class="col-12 col-md-5 col-lg-4">
            <div class="card card-shadow border-0">
                <div class="card-body position-relative pt-0 mb-6">
                    <div class="position-absolute top-0 start-50 translate-middle">
                        <a href="#" class="avatar avatar-xl mx-auto border border-light border-5">
                            <img src="assets/img/avatars/1.jpg" alt="" class="avatar-img">
                        </a>
                    </div>
                </div>

                <div class="card-body">
<!--                    <form th:action="@{'/testImage'}" th:method="post">-->
                    <div class="row g-6">
                        <div class="col-12">
                            <div class="text-center">
                                <h4 class="fw-bold">William Pearson</h4>
                                <p>Enter your password to <br> unlock the screen</p>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-floating">
                                <div id="containerImage">

                                </div>
                                <input type="file" id="inputImage1" onchange="Main()" class="form-control"
                                       name="file"/>
<!--                                <label for="lockscreen-password">Password</label>-->
                            </div>
                        </div>

                        <div class="col-12">
                            <button class="btn btn-block btn-lg btn-primary w-100" onclick="submitImage()">Unlock</button>
                        </div>
                    </div>
<!--                    </form>-->
                </div>
            </div>

            <!-- Text -->
            <div class="text-center mt-8">
                Not you? Return <a href="./signup.html">Sign in.</a>
            </div>

        </div>
    </div> <!-- / .row -->
    <script>
        let cImage = document.querySelector('#containerImage');
        const toBase64 = file => new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
        });

        async function Main() {
            const file = document.querySelector('#inputImage1').files[0];
            let data = await toBase64(file)
            let input = document.createElement("INPUT");
            input.type = 'text';
            input.name = 'imageFile';
            input.value = data;
            cImage.appendChild(input)
            let img = document.createElement("IMG");
            img.src = data;
            img.style.width = '100px';
            cImage.appendChild(img);
        }

        function submitImage(){
            let inputI = document.getElementsByName("imageFile");
            let arrI = [];
            for(let i=0;i<inputI.length;i++){
                arrI[i] = inputI[i].value;
            }
            console.log(arrI.length)
            console.log(JSON.stringify(arrI))
            let da = JSON.stringify(arrI);
            $.ajax({
                url: 'testImage',
                data:
                    {
                        dataI: da
                    }
                ,
                error: function () {
                    console.log("error")
                },
                success: function (data) {
                    console.log("data")
                },
                type: 'POST'
            });
        }
    </script>
</div>
</html>