<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/acountlayout"
>
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">Đăng nhập</title>
</head>
<div class="container" layout:fragment="acount-content">
    <div class="row align-items-center justify-content-center min-vh-100 gx-0">
        <div class="col-12 col-md-5 col-lg-4">
            <div class="card card-shadow border-0">
                <div class="card-body">
                    <div class="row g-6">
                        <div class="col-12">
                            <div class="text-center">
                                <h3 class="fw-bold mb-2">Đăng nhập</h3>
                                <p>Nhập bừa đi không check đâu</p>
                            </div>
                        </div>
                        <form th:action="@{'/signin-action'}" method="post" th:object="${user}">
                            <div class="col-12" style="margin-bottom: 20px">
                                <div class="">
                                    <input th:field="*{fullname}" type="text" class="form-control" id="signin-email" placeholder="Họ tên">
                                </div>
                            </div>
                            <div class="col-12" style="margin-bottom: 20px">
                                <div class="">
                                    <input th:field="*{password}" type="password" class="form-control" id="signin-password"
                                           placeholder="Mật khẩu">
                                </div>
                            </div>
                            <div class="col-12" style="margin-bottom: 20px">
                                <button class="btn btn-block btn-lg btn-primary w-100" type="submit">Đăng nhập</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Text -->
            <div class="text-center mt-8">
                <p>Don't have an account yet? <a href="./signup.html">Sign up</a></p>
                <p><a href="./password-reset.html">Forgot Password?</a></p>
            </div>
        </div>
    </div> <!-- / .row -->
</div>
</html>