<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/acountlayout"
>
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">Đăng nhập</title>
</head>
<div class="container" layout:fragment="acount-content">
    <div class="row align-items-center justify-content-center min-vh-100 gx-0">
        <div class="col-12 col-md-5 col-lg-4">
            <div class="card card-shadow border-0">
                <div class="card-body">
                    <div class="row g-6">
                        <div class="col-12">
                            <div class="text-center">
                                <h3 class="fw-bold mb-2">Đăng nhập</h3>
                                <p>Nhập bừa đi không check đâu</p>
                            </div>
                        </div>
                        <form th:action="@{'/j_spring_security_check'}" method="post">
                            <div class="col-12" style="margin-bottom: 20px">
                                <div class="">
                                    <input name="username" value="admin" type="text" class="form-control" id="signin-username" placeholder="Tên người dùng">
                                </div>
                            </div>
                            <div class="col-12" style="margin-bottom: 10px">
                                <div class="">
                                    <input name="password" type="password" value="123" class="form-control" id="signin-password"
                                           placeholder="Mật khẩu">
                                </div>
                            </div>
                                <div class="col-12" style="margin-bottom: 20px; margin-left: 5px">
                                    <div class="">
                                        <input name="remember" type="checkbox" id="remember"> Nhớ tài khoản
                                    </div>
                                </div>
                            <div class="col-12" style="margin-bottom: 20px">
                                <div onclick="remember()" class="btn btn-block btn-lg btn-primary w-100">Đăng nhập</div>
                                <button class="btn btn-block btn-lg btn-primary w-100" type="submit" style="display: none" id="submitLogin">Đăng nhập</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Text -->
            <div class="text-center mt-8">
                <p>Bạn chưa có tài khoản? <a th:href="@{/signup}">Đăng kí</a></p>
                <p><a href="./password-reset.html">Forgot Password?</a></p>
            </div>
        </div>
    </div> <!-- / .row -->
    <script>
        function remember(){
            let remember = document.getElementById("remember");
            if(remember.checked == true){
                console.log(document.querySelector("#signin-username").value)
                console.log(document.querySelector("#signin-password").value)
                $.ajax({
                    url: 'signin/remember',
                    data: {
                        username: document.querySelector("#signin-username").value,
                        password: document.querySelector("#signin-password").value
                    },
                    error: function () {
                        console.log("error")
                    },
                    success: async function (data) {
                        console.log("done")
                    },
                    type: 'POST'
                });
            }
            document.getElementById("submitLogin").click();
        }
    </script>
</div>
</html>