<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <title layout:fragment = "title">Title</title>
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/assets/img/logo.png}" type="image/x-icon">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/css/template.bundle.css}">
    <link th:href="@{/toastr/css/toastr.min.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/assets/css/sweetalert2.min.css}">
</head>
<body class="bg-light">
<div th:replace="/component/alert/erroralert :: erroralert"></div>
<div layout:fragment="acount-content">

</div>
<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/assets/js/vendor.js}"></script>
<script th:src="@{/assets/js/template.js}"></script>
<script th:src="@{/toastr/common.min.js}"></script>
<script th:src="@{/toastr/js/toa.js}"></script>
</body>
</html>