<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <title layout:fragment = "title">Title</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="./assets/img/favicon/favicon.ico" type="image/x-icon">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="./assets/css/template.bundle.css">
    <link rel="stylesheet" href="./assets/css/mystyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./assets/css/template.dark.bundle.css" media="(prefers-color-scheme: dark)">
    <script src="./assets/js/token.js"></script>
</head>
<body>
<input type="hidden" th:value="${userOnline}" id="userOnline">
    <div class="layout overflow-hidden">
        <div th:replace="/commons/web/navigation :: navigation"></div>
        <div th:replace="/commons/web/sidebar :: sidebar"></div>
        <div layout:fragment="content">

        </div>
    </div>
    <div th:replace="/commons/web/modal-invite :: modal-invite"></div>
    <div th:replace="/commons/web/modal-profile :: modal-profile"></div>
    <div th:replace="/commons/web/modal-user-profile :: modal-user-profile"></div>
    <div th:replace="/commons/web/modal-media-preview :: modal-media-preview"></div>
<!-- Scripts -->
<script src="./assets/js/vendor.js"></script>
<script src="./assets/js/template.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="./assets/js/mainsystem.js"></script>
<style>
    .messageSend{
        font-weight: 900;
    }
</style>
</body>
</html>