<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="chat" class="tab-pane fade h-100 show active" id="tab-content-chats" role="tabpanel">
    <div class="d-flex flex-column h-100 position-relative">
        <div class="hide-scrollbar">

            <div class="container py-8">
                <!-- Title -->
                <div class="mb-8">
                    <h2 class="fw-bold m-0">Tin nhắn</h2>
                </div>

                <!-- Search -->
                <div class="mb-6">
                    <form action="#">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="icon icon-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                </div>
                            </div>

                            <input type="text" class="form-control form-control-lg ps-0" placeholder="Search messages or users" aria-label="Search for messages or users...">
                        </div>
                    </form>
                </div>

                <!-- Chats -->
                <div class="card-list" id="contentUserMessage">
                    <!-- Card -->
                    <th:block th:each="messageUser: ${messageUsers}">
                        <a th:if="${messageUser.active}"
                           th:href="@{'/message_direct?room=' + ${messageUser.roomCode}}"
                           class="card border-0 text-reset"
                           th:id="'messUser' + ${userOnline + messageUser.users.get(0).username}">
                            <div class="card-body">
                                <div class="row gx-5">
                                    <div class="col-auto">
                                        <div th:class="${messageUser.isOnline() ? 'avatar avatar-online' : 'avatar avatar-offline'}" th:id="${messageUser.users.get(0).username}">
                                            <img th:src="@{${messageUser.users.get(0).image}}" alt="#" class="avatar-img">
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="d-flex align-items-center mb-3">
                                            <h5 th:class="'me-auto mb-0 ' + ${messageUser.status == 1 ? 'messageSend' : ''}" th:name="'messUser' + ${userOnline + messageUser.users.get(0).username}">[[${messageUser.name}]]</h5>
                                            <span th:class="'text-muted extra-small ms-2 ' + ${messageUser.status == 1 ? 'messageSend' : ''}" th:name="'messUser' + ${userOnline + messageUser.users.get(0).username}">[[${messageUser.time}]]</span>
                                        </div>

                                        <div class="d-flex align-items-center">
                                            <div th:class="'line-clamp me-auto ' + ${messageUser.status == 1 ? 'messageSend' : ''}" th:name="'messUser' + ${userOnline + messageUser.users.get(0).username}">
                                                [[${messageUser.messageLast}]]
                                            </div>
                                            <div class="badge badge-circle bg-primary ms-5">
                                                <span th:name="'messUser' + ${userOnline + messageUser.users.get(0).username}">[[${messageUser.countMess}]]</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .card-body -->
                        </a>
                    </th:block>
                    <!-- Card -->

                    <!-- Card -->
<!--                    <a href="chat-direct.html" class="card border-0 text-reset">-->
<!--                        <div class="card-body">-->
<!--                            <div class="row gx-5">-->
<!--                                <div class="col-auto">-->
<!--                                    <div class="avatar-group-trigon avatar-group-trigon-sm">-->
<!--                                        <div class="avatar avatar-sm">-->
<!--                                            <img class="avatar-img" src="assets/img/avatars/7.jpg" alt="#">-->
<!--                                        </div>-->

<!--                                        <div class="avatar avatar-sm">-->
<!--                                            <img class="avatar-img" src="assets/img/avatars/9.jpg" alt="#">-->
<!--                                        </div>-->

<!--                                        <div class="avatar avatar-sm">-->
<!--                                            <span class="avatar-text bg-primary">D</span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="col">-->
<!--                                    <div class="d-flex align-items-center mb-3">-->
<!--                                        <h5 class="me-auto mb-0">Don Knight</h5>-->
<!--                                        <span class="text-muted extra-small ms-2">08:35 PM</span>-->
<!--                                    </div>-->

<!--                                    <div class="d-flex align-items-center">-->
<!--                                        <div class="line-clamp me-auto">-->
<!--                                            I'm going to meet my friend of mine at the departments stores as soon as possible.-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>&lt;!&ndash; .card-body &ndash;&gt;-->
<!--                    </a>-->
                    <!-- Card -->
                </div>
                <!-- Chats -->
            </div>

        </div>
    </div>
</div>

</html>