<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="chat" class="tab-pane fade h-100 show active" id="tab-content-chats" role="tabpanel">
    <div class="d-flex flex-column h-100 position-relative">
        <div class="hide-scrollbar">

            <div class="container py-8">
                <!-- Title -->
                <div class="mb-8">
                    <h2 class="fw-bold m-0">Tin nhắn</h2>
                </div>

                <!-- Search -->
                <div class="mb-6">
                    <form action="#">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="icon icon-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                </div>
                            </div>

                            <input type="text" class="form-control form-control-lg ps-0" placeholder="Search messages or users" aria-label="Search for messages or users...">
                        </div>
                    </form>
                </div>

                <!-- Chats -->
                <div class="card-list">
                    <!-- Card -->
                    <a th:href="@{'/message_group'}" class="card border-0 text-reset">
                        <div class="card-body">
                            <div class="row gx-5">
                                <div class="col-auto">
                                    <div class="avatar avatar-online">
                                        <img src="assets/img/avatars/7.jpg" alt="#" class="avatar-img">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="d-flex align-items-center mb-3">
                                        <h5 class="me-auto mb-0">William Wright</h5>
                                        <span class="text-muted extra-small ms-2">12:45 PM</span>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <div class="line-clamp me-auto">
                                            Hello! Yeah, I'm going to meet my friend of mine at the departments stores now.
                                        </div>

                                        <div class="badge badge-circle bg-primary ms-5">
                                            <span>3</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .card-body -->

                        <div class="card-footer">
                            <div class="row align-items-center gx-4">
                                <div class="col-auto">
                                    <div class="avatar avatar-xs">
                                        <img class="avatar-img" src="assets/img/avatars/bootstrap.svg" alt="Bootstrap Community">
                                    </div>
                                </div>

                                <div class="col">
                                    <h6 class="mb-0">Bootstrap Community</h6>
                                </div>

                                <div class="col-auto">
                                    <div class="avatar-group">
                                        <div class="avatar avatar-xs">
                                            <img src="assets/img/avatars/12.jpg" alt="#" class="avatar-img">
                                        </div>

                                        <div class="avatar avatar-xs">
                                            <img src="assets/img/avatars/11.jpg" alt="#" class="avatar-img">
                                        </div>

                                        <div class="avatar avatar-xs">
                                            <img src="assets/img/avatars/9.jpg" alt="#" class="avatar-img">
                                        </div>

                                        <div class="avatar avatar-xs">
                                            <span class="avatar-text">+5</span>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .row -->
                        </div><!-- .card-footer -->
                    </a>
                    <!-- Card -->

                    <!-- Card -->
                    <th:block th:each="messageUser: ${messageUsers}">
                        <a th:href="@{'/message_direct?room=' + ${messageUser.roomCode}}" class="card border-0 text-reset">
                            <div class="card-body">
                                <div class="row gx-5">
                                    <div class="col-auto">
                                        <div th:class="${messageUser.isOnline() ? 'avatar avatar-online' : 'avatar avatar-offline'}" th:id="@{${messageUser.users.get(0).username}}">
                                            <img th:if="${messageUser.users.get(0).image == 'avt.png'}" th:src="@{'/assets/image/' + ${messageUser.users.get(0).image}}" alt="#" class="avatar-img">
                                            <img th:if="${messageUser.users.get(0).image != 'avt.png'}"
                                                 th:src="@{'https://github.com/phonghotkgd2k1/image_public/blob/main/' + ${messageUser.users.get(0).image} + '?raw=true'}" alt="#" class="avatar-img">
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="d-flex align-items-center mb-3">
                                            <h5 th:class="@{'me-auto mb-0 ' + ${messageUser.status == 1 ? 'messageSend' : ''}}" th:name="@{'messUser' + ${userOnline + messageUser.users.get(0).username}}">[[${messageUser.name}]]</h5>
                                            <span th:class="@{'text-muted extra-small ms-2 ' + ${messageUser.status == 1 ? 'messageSend' : ''}}" th:name="@{'messUser' + ${userOnline + messageUser.users.get(0).username}}">[[${messageUser.time}]]</span>
                                        </div>

                                        <div class="d-flex align-items-center">
                                            <div th:class="@{'line-clamp me-auto ' + ${messageUser.status == 1 ? 'messageSend' : ''}}" th:name="@{'messUser' + ${userOnline + messageUser.users.get(0).username}}">
                                                [[${messageUser.messageLast}]]
                                            </div>
                                            <div class="badge badge-circle bg-primary ms-5">
                                                <span th:name="@{'messUser' + ${userOnline + messageUser.users.get(0).username}}">[[${messageUser.countMess}]]</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .card-body -->
                        </a>
                    </th:block>
                    <!-- Card -->

                    <!-- Card -->
                    <a th:href="@{'/message_empty'}" class="card border-0 text-reset">
                        <div class="card-body">
                            <div class="row gx-5">
                                <div class="col-auto">
                                    <div class="avatar avatar-online">
                                        <img src="assets/img/avatars/8.jpg" alt="#" class="avatar-img">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="d-flex align-items-center mb-3">
                                        <h5 class="me-auto mb-0">Elise Dennis</h5>
                                        <span class="text-muted extra-small ms-2">08:35 PM</span>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <div class="line-clamp me-auto">
                                            is typing<span class='typing-dots'><span>.</span><span>.</span><span>.</span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .card-body -->
                    </a>
                    <!-- Card -->

                    <!-- Card -->
                    <a href="chat-direct.html" class="card border-0 text-reset">
                        <div class="card-body">
                            <div class="row gx-5">
                                <div class="col-auto">
                                    <div class="avatar-group-trigon avatar-group-trigon-sm">
                                        <div class="avatar avatar-sm">
                                            <img class="avatar-img" src="assets/img/avatars/7.jpg" alt="#">
                                        </div>

                                        <div class="avatar avatar-sm">
                                            <img class="avatar-img" src="assets/img/avatars/9.jpg" alt="#">
                                        </div>

                                        <div class="avatar avatar-sm">
                                            <span class="avatar-text bg-primary">D</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="d-flex align-items-center mb-3">
                                        <h5 class="me-auto mb-0">Don Knight</h5>
                                        <span class="text-muted extra-small ms-2">08:35 PM</span>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <div class="line-clamp me-auto">
                                            I'm going to meet my friend of mine at the departments stores as soon as possible.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .card-body -->
                    </a>
                    <!-- Card -->
                </div>
                <!-- Chats -->
            </div>

        </div>
    </div>
</div>

</html>