<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="search" class="tab-pane fade h-100" id="tab-content-search" role="tabpanel">
    <div class="d-flex flex-column h-100">
        <div class="hide-scrollbar">
            <div class="container py-8">
                <!-- Title -->
                <div class="mb-8">
                    <h2 class="fw-bold m-0">Tìm kiếm</h2>
                </div>
                <!-- Search -->
                <div class="mb-6">
                    <form action="#">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="icon icon-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none"
                                         stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round"
                                         class="feather feather-search">
                                        <circle cx="11" cy="11" r="8"></circle>
                                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                    </svg>
                                </div>
                            </div>
                            <input onkeyup="onSearch()" id="keyword" type="text"
                                   class="form-control form-control-lg ps-0"
                                   placeholder="Tìm theo tên người dùng hoặc địa chỉ email"
                                   aria-label="Search for messages or users...">
                        </div>
                    </form>
                </div>

                <!-- List -->
                <div class="card-list" id="UserSearchList">

                </div>
            </div>
        </div>
    </div>
    <script>
        function onSearch() {
            $.ajax({
                url: 'user/search',
                data: {
                    keyword: document.querySelector("#keyword").value
                },
                error: function () {
                    console.log("error")
                },
                success: async function (data) {
                    let userSearchList = document.getElementById("UserSearchList");
                    userSearchList.innerHTML = "";
                    for (let i = 0; i < data.length; i++) {
                        let isFriend = document.querySelector("#friend" + data[i].username) == null ? false : true;
                        let avatarOnline = "";
                        let status = "";
                        let username = data[i].username;
                        if(isFriend){
                            if(data[i].online){
                                avatarOnline = 'avatar-online';
                                status = "Đang hoạt động";
                            } else {
                                avatarOnline = 'avatar-offline';
                                status = "Không hoạt động";
                            }

                        } else {
                            status = data[i].username;
                        }
                        userSearchList.innerHTML +=
                            "<div class='card border-0'>" +
                            "<div class='card-body'>" +
                            "<div class='row align-items-center gx-5'>" +
                            "<div class='col-auto'>" +
                            "<a href='#' class='avatar "+avatarOnline+"' id=''>" +
                            "<img class='avatar-img' src='"+data[i].image+"' alt=''></a>" +
                            "</div>" +
                            "<div class='col'>" +
                            "<h5><a href='#'>"+data[i].fullName+"</a></h5>" +
                            "<p class='text-truncate'>"+status+"</p>" +
                            "</div>" +
                            "<div class='col-auto'>" +
                            "<div class='dropdown'>" +
                            "<a class='icon text-muted' href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false'>" +
                            "<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'" +
                            "stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'" +
                            "class='feather feather-search'>" +
                            "<circle cx='12' cy='12' r='1'></circle>" +
                            "<circle cx='12' cy='5' r='1'></circle>" +
                            "<circle cx='12' cy='19' r='1'></circle>" +
                            "</svg>" +
                            "</a>" +
                            "<ul class='dropdown-menu'>" +
                            "<li><a href='message/check?username="+data[i].username+"' class='dropdown-item'>Gửi tin nhắn</a></li>" +
                            "<li><a class='dropdown-item'>Kết bạn</a></li>" +
                            "</ul> </div> </div> </div> </div> </div>"
                    }
                },
                type: 'POST'
            });
        }
        function checkMessage(username){
            console.log(username)
        }
    </script>
</div>

</html>