<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="sidebar" class="sidebar bg-light">
  <div class="tab-content h-100" role="tablist">
    <!-- Create -->
    <div th:replace="commons/web/create :: create"></div>
    <!-- Friends -->
    <div th:replace="commons/web/friend :: friend"></div>
    <!-- Chats -->
    <div th:replace="commons/web/chat :: chat"></div>
    <!-- Notifications - Notices -->
    <div th:replace="commons/web/notifications :: notifications"></div>
    <!-- Support -->
    <div th:replace="commons/web/support :: support"></div>
    <!-- Settings -->
    <div th:replace="commons/web/setting :: setting"></div>
  </div>
</aside>
</html>