<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="showi" id="showI" class="swal2-container swal2-center swal2-backdrop-show" style="overflow-y: auto; display: none">
    <div aria-labelledby="swal2-title" aria-describedby="swal2-html-container"
         class="swal2-popup swal2-modal swal2-icon-warning swal2-show" tabindex="-1" role="dialog"
         aria-live="assertive" aria-modal="true" style="display: grid;">
        <button type="button" class="swal2-close" aria-label="Close this dialog" onclick="closei()">×</button>
        <div class="swal2-icon swal2-warning swal2-icon-show" style="display: flex;">
            <div class="swal2-icon-content">!</div>
        </div>
        <h3 class="swal2-title" id="showitext" style="display: block;"></h3>
        <div class="swal2-actions" style="display: flex;">
            <div class="swal2-loader"></div>
            <button type="button" class="swal2-confirm swal2-styled swal2-default-outline" aria-label="" onclick="closei()"
                    style="display: inline-block; background-color: rgb(48, 133, 214);">OK
            </button>
        </div>
        <div class="swal2-footer" style="display: none;"></div>
        <div class="swal2-timer-progress-bar-container">
            <div class="swal2-timer-progress-bar" style="display: none;"></div>
        </div>
    </div>
</div>
</html>