<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="waitcall" id="waitcall" class="swal2-container swal2-center swal2-backdrop-show"
     style="overflow-y: auto; display: none">
    <div aria-labelledby="swal2-title" aria-describedby="swal2-html-container"
         class="swal2-popup swal2-modal swal2-show" tabindex="-1" role="dialog" aria-live="assertive"
         aria-modal="true" style="display: grid;">
        <div class="swal2-icon" style="display: none;"></div>

        <input type="hidden" value="" id="caller1">

        <img class="swal2-image" id="avtCall1"
             src="http://localhost:8080/chatroom/assets/img/avatars/11.jpg" alt="Custom image"
             style="width: 100px; height: 100px; border-radius: 50%;">
        <div id='loadingMess' class="line-clamp me-auto load-message-page">
            <h3 style="display: inline;" id="nameCall1"></h3>
            <span class='typing-dots' style="font-size: 20pt"><span>.</span><span>.</span><span>.</span></span>
        </div>
        <div class="swal2-actions" style="display: flex;">
            <div class="swal2-loader"></div>
            <button type="button" class="btn btn-primary" onclick="nghe()" style="display: inline-block; margin-right: 10px">Chấp nhập</button>
            <button type="button" class="btn btn-danger" onclick="closeWaitCall()" style="display: inline-block;">Từ chối</button>
        </div>
    </div>
</div>
</html>