<!--<!DOCTYPE html>-->

<!--<html lang="en"-->
<!--      xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container has-text-centered" v-cloak id="app">-->
<!--    <link rel="stylesheet" href="./assets/css/mystyle.css">-->
<!--    <link rel="stylesheet"-->
<!--          href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"/>-->

<!--    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/axios@0.20.0/dist/axios.min.js"></script>-->
<!--    <script src="https://cdn.stringee.com/sdk/web/2.2.1/stringee-web-sdk.min.js"></script>-->
<!--    <h1 class="title">-->
<!--        Chào các bro-->
<!--    </h1>-->

<!--    <div>-->
<!--        <button class="button is-primary" v-if="!room" @click="createRoom">-->
<!--            Tạo Meeting-->
<!--        </button>-->

<!--        <button class="button is-info" v-if="!room" @click="joinWithId">-->
<!--            Join Meeting-->
<!--        </button>-->

<!--        <button class="button is-info" v-if="room" @click="publish(true)">-->
<!--            Share Desktop-->
<!--        </button>-->
<!--    </div>-->

<!--    <div v-if="roomId" class="info">-->
<!--        <p>Bạn đang ở trong room <strong>{{roomId}}</strong>.</p>-->
<!--        <p>-->
<!--            Gửi link này cho bạn bè cùng join room nhé-->
<!--            <a v-bind:href="roomUrl" target="_blank">{{roomUrl}}</a>.-->
<!--        </p>-->
<!--        <p>Hoặc bạn cũng có thể copy <code>{{roomId}}</code> để share.</p>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="container">-->
<!--    <div id="videos"></div>-->
<!--</div>-->
<!--<script src="./assets/js/api.js"></script>-->
<!--<script src="./assets/js/calljs.js"></script>-->
<!--</body>-->
<!--</html>-->